engenano_project1/venv_project1
engenano_project1/Untitl*.ipynb
engenano_project1/Guide.docx
engenano_project1/__pycache__
engenano_project1/.ipynb_checkpoints
engenano_project1/*.out
*Copy*.ipynb
career
lesson1
lesson2
books
*.out